include README.md
recursive-include octoprint_print_planning_scheduler/templates *
recursive-include octoprint_print_planning_scheduler/translations *
recursive-include octoprint_print_planning_scheduler/static *
